<form action="{:U('Index/add_class')}" method="post">
<table border="1">
    <h1>欢迎{$Think.session.u_name}同学登录教学管理系统
    </h1>
    <tr>
        <td>请选择班级</td>
        <td>
            <select name="l_id">
                <volist name="class" id="val">
                    <option value="{$val.l_id}">{$val.l_class}</option>
                </volist>
            </select>
        </td>
    </tr>
    <tr>
        <td><input type="submit" value="添加"/></td>
        <td><input type="reset" value="重置"/></td>
    </tr>
</table>
</form>
<h3 style="color: deepskyblue;"><a href="{:U('Index/show_class')}">查看课程信息</a></h3>