<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<div id="box">
<center>
<table border="1">
    <tr>
        <td>编号</td>
        <td>申请人</td>
        <td>当前薪资</td>
        <td>期望薪资</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    <volist name="arr" id="val">
    <tr>
        <td>{$val.u_id}</td>
        <td>{$val.u_name}</td>
        <td>{$val.p_old}</td>
        <td>{$val.p_new}</td>
        <td>
            <if condition="$val.p_status eq 0">
                未审核
                <elseif condition="$val.p_status eq 1"/>
                    初审通过
                    <elseif condition="$val.p_status eq -1"/>
                      未通过
                <else/>
                        通过
            </if>
        </td>
        <td><a href="javascript:void(0)" onclick="pass({$val.u_id})">通过</a>
            <a href="javascript:void(0)" onclick="pass_no({$val.u_id})">不通过</a>
        </td>
    </tr>
    </volist>
</table>
</center>
</div>
</body>
</html>
<script>
    //初审通过传id
    function pass(id){
        var ajax=new XMLHttpRequest();
        ajax.open("get",'__URL__/index3_pass/id/'+id);
        ajax.send();
        ajax.onreadystatechange=function(){
            if(ajax.readyState==4&&ajax.status==200){
                document.getElementById('box').innerHTML=ajax.responseText;
            }
        }
    }
    //初审不通过
    function pass_no(id){
        var ajax=new XMLHttpRequest();
        ajax.open("get",'__URL__/index3_pass_no/id/'+id);
        ajax.send();
        ajax.onreadystatechange=function(){
            if(ajax.readyState==4&&ajax.status==200){
                document.getElementById('box').innerHTML=ajax.responseText;
            }
        }
    }
</script>